/* work section */
@media (min-width: 992px){
    .col-md-6 {
      width: 50%;
    }
  
  }

  @media (min-width: 992px){
    .col-md-12 {
        width: 100%;
    }
  }
  

.work-menu span:first-child {
    margin-left: 0;
}
  
.work-menu span {
    margin-left: 10px;
}
.project {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.project:hover .desc {
    opacity: 1; }
    .project:hover .desc h3 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .project:hover .desc span {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); 
}

.project .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #bd5d38;
    color: white;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.project .desc a{
    color: white;
}

.project .desc .con {
    padding: 20px;
    display: block;
    position: relative;
    height: 300px;
}